body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  
}

 
 .timer{
   
   display:flex;
   flex-direction: column;
   align-items: center;
   width: 200px;
   height: 200px;
   background-color: white;
   border-radius: 10px;
   margin: auto;
   margin-top: 100px;
 }
 .hour{
   display: flex;
   }
   .texthour{
     display: flex;
    justify-content: space-around;
    
   }
h6{
  margin:5px;
}
